<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>822317343063-e7vjk7hv66ungvddj0nu82a4n857m9cp.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.822317343063-e7vjk7hv66ungvddj0nu82a4n857m9cp</string>
	<key>API_KEY</key>
	<string>AIzaSyBQVWRnY2Cl6rz1lSvIJ9NGOG9aN0fazjk</string>
	<key>GCM_SENDER_ID</key>
	<string>822317343063</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>HarrisonResnick.Planner</string>
	<key>PROJECT_ID</key>
	<string>integrated-student-planner-hr</string>
	<key>STORAGE_BUCKET</key>
	<string>integrated-student-planner-hr.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:822317343063:ios:e2947fd1b79e018498de12</string>
	<key>DATABASE_URL</key>
	<string>https://integrated-student-planner-hr.firebaseio.com</string>
</dict>
</plist>